<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Center Details</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Home</a></li>
            <li class="breadcrumb-item active">Center Details</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <form>
              <!--              <div class="form-group">-->
              <!--                <label for="regNo" class="col-form-label font-weight-normal">Registration No:</label>-->
              <!--                <input type="text" class="form-control" id="regNo" [(ngModel)]="regNo" name="regNo">-->
              <!--              </div>-->
              <div class="form-group">
                <label for="middleName" class="col-form-label font-weight-normal">Name:</label>
                <input type="text" class="form-control" id="middleName" [(ngModel)]="name" name="name">
              </div>
              <div class="form-group">
                <label for="firstName" class="col-form-label font-weight-normal">Capacity:</label>
                <input type="text" class="form-control" id="firstName" [(ngModel)]="capacity" name="capacity">
              </div>

              <div class="form-group">
                <label for="lastName" class="col-form-label font-weight-normal">latitude:</label>
                <input type="text" class="form-control" id="lastName" [(ngModel)]="latitude" name="latitude">
              </div>
              <div class="form-group">
                <label for="farmerAge" class="col-form-label font-weight-normal">longitude:</label>
                <input type="number" class="form-control" id="farmerAge" [(ngModel)]="longitude" name="longitude">
              </div>
            </form>
            <div class="float-right">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">Clear</button>
              <button type="button" class="btn btn-primary ml-2" (click)="save()">Save</button>
            </div>
          </div>
          <div class="col-7">
            <div class="card-header green">
              <h3 class="card-title">Centers</h3>
            </div>
            <table class="table">
              <thead>
              <tr>
                <th>Center</th>
                <th>Capacity</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of tableData | paginate: { itemsPerPage: 10, currentPage: pVbelt }" (click)="getRecord(data)">
                <td>{{data.name}}</td>
                <td>{{data.capacity}}</td>
                <td>{{data.latitude}}</td>
                <td>{{data.longitude}}</td>
                <td>
                  <button class="btn btn-outline-danger" (click)="deleteRecord(data.registrationId)"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <pagination-controls class="page-item" (pageChange)="pVbelt = $event"></pagination-controls>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </section>
  <!-- /.content -->
</div>
