<div  class="container-fluid">
  <div class="card card-primary">
    <form  role="form">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <div class="card-header bg-blue">
              <h3 class="card-title">Add Paddy Record</h3>
            </div>
            <form action="">
              <div class="form-group">
                <label for="amount">Farmer</label>
                <div class="input-group">
                  <select id="farmer" name="farmer" class="form-control" (change)="change()" [(ngModel)]="farmerId">
                    <option selected="selected" value="0">Select a Farmer</option>
                    <option *ngFor="let data of farmers" [ngValue]="data.registrationNo">
                      {{ data.firstName  }}
                      {{ data.middleName  }}
                      {{ data.lastName  }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="amount">Paddy Amount</label>
                <div class="input-group">
                  <input type="number" name="sellingPrice" id="amount" [(ngModel)]="weight" class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text">Kg</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="billPrice">Paid Amount</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Rs</span>
                  </div>
                  <input type="number" name="billPrice" id="billPrice" [(ngModel)]="paidAmount" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label>Stocked Date</label>
                <mat-form-field appearance="fill" class="example-form-field col">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="datepicker" [(ngModel)]="stockedDate" name="date"
                         autocomplete="off">
                  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker>
                  </mat-datepicker>
                </mat-form-field>
              </div>
              <div class="float-right">
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="clear()">Clear</button>
                <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
              </div>
            </form>
          </div>
          <div class="col-8">
            <div class="card-header green">
              <h3 class="card-title">All Records</h3>
            </div>
            <table class="table">
              <thead>
              <tr>
                <th>Farmer ID</th>
                <th>Weight</th>
                <th>Paid Amount</th>
                <th>Stocked Date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of tableData | paginate: { itemsPerPage: 10, currentPage: pVbelt }"
                  (click)="getRecord(data)">
                <td>{{data.farmerId}}</td>
                <td>{{data.weight}}</td>
                <td>{{data.paidAmount}}</td>
                <td>{{data.stockedDate}}</td>
              </tr>
              </tbody>
            </table>
            <div class="clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <pagination-controls class="page-item" (pageChange)="pItem = $event"></pagination-controls>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
