<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-warning elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="./assets/img/psc.png" alt="JustForYou Logo" class="brand-image img-circle elevation-0"
         style="opacity: .8">
    <span class="brand-text text-md font-weight-light">Paddy Storage Cooperation</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="./assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <span class="d-block text-md text-white">{{user.username}}</span>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <div *ngFor="let route of routes">
          <li *ngIf="route.header !== null && route.isShow" class="nav-header">{{route.header}}</li>
          <li class="nav-item" *ngFor="let link of route.links">
            <a *ngIf="link.isShow" [routerLink]="link.url" class="nav-link" routerLinkActive="active">
              <i [className]="link.iconClass"></i>&nbsp;
              <p>
                {{link.title}}
              </p>
            </a>
          </li>
        </div>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
