<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Farmers</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Home</a></li>
            <li class="breadcrumb-item active">Farmers</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="card">
      <div class="card-body p-0">
        <div class="card-footer clearfix">
          <div class="row">
            <div class="border col-6 p-3">
              <form>
                <div class="form-group">
                  <label for="farmer-name" class="col-form-label font-weight-normal">Reg No:</label>
                  <input type="number" maxlength="3" class="form-control" id="regNo">
                </div>
                <div class="form-group">
                  <label for="farmer-name" class="col-form-label font-weight-normal">Name:</label>
                  <input type="text" class="form-control" id="farmer-name">
                </div>
                <div class="form-group">
                  <label for="farmer-name" class="col-form-label font-weight-normal">District:</label>
                  <input type="text" class="form-control" id="district">
                </div>
                <!--            <div class="form-group">-->
                <!--              <label for="message-text" class="col-form-label">Age:</label>-->
                <!--              <textarea class="form-control" id="message-text"></textarea>-->
                <!--            </div>-->
              </form>
              <div class="float-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Clear</button>
                <button type="button" class="btn btn-primary ml-2">Save</button>
              </div>
            </div>
            <div class="col-6">
              <div class="card-header green">
                <h3 class="card-title">All Farmers</h3>
              </div>
              <table class="table">
                <thead>
                <tr>
                  <th>Reg No.</th>
                  <th>Name</th>
                  <th>District</th>
                  <th>#</th>
                  <th>#</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let vbelt of vbelts | paginate: { itemsPerPage: 10, currentPage: pVbelt }"
                    (click)="getRecord(vbelt)">
                  <td>{{vbelt.id}}</td>
                  <td>{{vbelt.name}}</td>
                  <td>{{vbelt.district}}</td>
                  <td>{{vbelt.aaa}}</td>
                  <td>{{vbelt.bbb}}</td>
                  <td><button (click)="deleteRecord(vbelt.id)" class="btn btn-outline-danger border-0 pt-0"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                </tr>
                </tbody>
              </table>
              <div class="clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <pagination-controls class="page-item" (pageChange)="pVbelt = $event"></pagination-controls>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- /.card-body -->
    </div>
  </section>
  <!-- /.content -->
  <!--  modal-->
</div>
