<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Vehicle</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Home</a></li>
            <li class="breadcrumb-item active">Vehicle</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <form>
              <div class="form-group">
                <label  class="col-form-label font-weight-normal">Vehicle No:</label>
                <input type="text" class="form-control" name="vehicle" [(ngModel)]="vehicle">
<!--                <select name="vehicle" id="" class="form-control" [(ngModel)]="vehicle">-->
<!--                  <option *ngFor="let vehicle of vehicleList"-->
<!--                          [value]="vehicle.vehicleNo">{{vehicle.vehicleNo}}</option>-->
<!--                </select>-->
              </div>
              <div class="form-group">
                <label for="capacity" class="col-form-label font-weight-normal">Max Capacity:</label>
                <input type="number" name="capacity" class="form-control" id="capacity" [(ngModel)]="capacity">
              </div>
              <div class="form-group">
                <label for="availability" class="col-form-label font-weight-normal">Availability:</label>
                <select name="availability" class="form-control" id="availability" [(ngModel)]="availability">
                  <option value="true">TRUE</option>
                  <option value="false">FALSE</option>
                </select>
              </div>
            </form>
            <div class="float-right">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">Clear</button>
              <button type="button" class="btn btn-primary ml-2" (click)="save()">Save</button>
            </div>
          </div>
          <div class="col-7">
            <div class="card-header green">
              <h3 class="card-title">All Vehicle</h3>
            </div>
            <!-- /.card-header -->
            <table class="table">
              <thead>
              <tr>
                <th>Vehicle No</th>
                <th>Max Capacity</th>
                <th>Availability</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of tableData | paginate: { itemsPerPage: 10, currentPage: pVbelt }" (click)="getRecord(data)">
                <td>{{data.vehicleNo}}</td>
                <td>{{data.maxCapacity}}</td>
                <td>{{data.availability}}</td>
                <td>
                  <button class="btn btn-outline-danger" (click)="deleteRecord(data.vehicleNo)"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <pagination-controls class="page-item" (pageChange)="pVbelt = $event"></pagination-controls>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </section>
  <!-- /.content -->
</div>
