<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Add Daily Limits for Centers</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Home</a></li>
            <li class="breadcrumb-item active">Configuration Screen</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="card">
      <div class="card-body">
        <div>
          <div class="row">
            <div class="col-4">
              <form action="">
                <div class="form-group">
                  <label>Center</label>
                  <div class="input-group">
                    <select selected="selected" [(ngModel)]="centedID" (change)="centerChange()" name="center" id="center" class="form-control">
                      <option value="0">Select a Center</option>
                      <option *ngFor="let data of centers" [ngValue]="data.registrationId">
                        {{ data.name  }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label>Add Paddy Limit</label>
                  <div class="input-group">
                    <section class="example-section">
                      <b>False</b>
                      <mat-slide-toggle
                        class="example-margin"
                        [color]="color"
                        [checked]="checked"
                        (change)="change($event)">
                        True
                      </mat-slide-toggle>
                    </section>
                  </div>
                </div>
                <div class="float-right">
                  <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="clear()">Clear
                  </button>
                  <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
                </div>
              </form>

            </div>
            <div class="col-2 m-2">

            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>

